
/** ADD YOUR AWESOME CODES HERE **/
.tabspace{
  left:10%;
}
.container-small-size{
  width:60%
}

.flagimg{
  width:100px;
  height:80px;
  padding-top: 10%;
}

.navbar{
  margin:0;
}

.text-center>th{
  text-align: center;
  background-color: #0075BC;
  color: #ffffff
}
/* navbar */
.custom-navbar > li a:hover {
  color: #0075BC !important;
  font-weight: bold;
}

.navbar-default .navbar-nav.custom-navbar>li>a:hover{
  color: #0075BC !important;
  font-weight: bold;
}




/* timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
.timeline-title{
  left: 20px;
}
.timeline-title > p{
  color: #999999
}
h4.year{
  float:left;
  color:#0075BC;
}
h4.month{
  float:left;
  left:40px;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    /* left: 29px; */
    left: 99px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 90px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0075BC;
    /* left: 20px; */
    left: 90px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
